Django==1.5c1
South==0.7.6
Unipath==0.2.1
django-activelink==0.3
django-crispy-forms==1.2.3
django-floppyforms==1.0
django-openid-auth==0.4
django-tables2==0.13.0
djtokeninput==0.1
python-openid==2.2.5
wsgiref==0.1.2
